<div class="modal" id="detailModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          {{modaltitle}}
          <span class="star-rating" star-rating rating-value="ratings[modalindex]" data-max="5" on-rating-selected="rateFunction(modalindex, rating)"></span>
        </h4>
      </div>
      <div class="modal-body">
        <div ng-if="mapurl" class="modal-map" style="float: right; padding-top: 10px; padding-left: 10px; padding-bottom: 10px; padding-right: 10px;">
          <img src="{{mapurl}}">
          <div><small>Map may not indicate exact job location.</small></div>
        </div>
        <p ng-bind-html="modalbody | newlines_as_br"></p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<h4 ng-if="rows.length == 0">No results found.  Please <a href='#/app/home'>search again.</a></h4>
<div style="float: right;" ng-if="rows.length != 0">
  <a href='http://www.indeed.com'>Jobs</a> by <a href='http://www.indeed.com'><img src='http://www.indeed.com/p/jobsearch.gif'></a> 
</div>
<ul style='clear: both'>
  <li ng-repeat="row in rows">
    <div morestars style="position:relative;height:18px;">hey</div>
    <h4>
    {{airatings[$index] | number:2}} {{similarities[$index] | number:2}} <span class="star-rating" star-rating rating-value="ratings[$index]" data-max="5" on-rating-selected="rateFunction($index, rating)"></span>
    {{row.title}}<button class="btn btn-default" style="margin-left: 10px;" ng-click="findSimilarLDA($index)">Find similar (LDA)</button><button class="btn btn-default" style="margin-left: 10px;" ng-click="findSimilarBOW($index)">Find similar (BoW)</button>
    </h4>
    <p ng-click="showDetail($index)">{{row.snippet}}</p>
  </li>
</ul>
